<script src="/js/chart.js" defer></script>

{% comment %} Vind de maximale waardes in de arrays {% endcomment %}
{% assign maxX = 0 %}
{% assign maxY = 0 %}

{% for item in chartData %}
  {% if item[xValue] > maxX %}
    {% assign maxX = item[xValue] %}
  {% endif %}
  {% if item[yValue] > maxY %}
    {% assign maxY = item[yValue] %}
  {% endif %}
{% endfor %}

<section class="layout">
  <article class="container">
    <div class="chart">
      <p class="x-value chart-axis">{{ xValue }}</p>
      <p class="y-value chart-axis">{{ yValue }}</p>

      {% for item in chartData %}
        {% assign splitURL = item.link | split: '/' %}
        {% assign catID = splitURL[5] %}
        {% assign x = item[xValue] %}
        {% assign y = item[yValue] %}
        {% assign xPosition = x | divided_by: maxX | times: 99 %}
        {% assign yPosition = y | divided_by: maxY | times: 99 %}

        <a
          href="/categorie/{{catID}}"
          title="{{item.title}}"
          class="point"
          style="left:{{xPosition}}%; bottom:{{yPosition}}%; --anchor-name:--anchor-{{catID}};"
          interestfor="{{catID}}"
        ></a>
        <div class="chart-popover" id="{{catID}}" style="--anchor-name:--anchor-{{catID}};" popover>
          <h3>
            {{ item.title }}
          </h3>
          <ul>
            <li>Topics: <span>{{ item.topics }}</span></li>
            <li>Berichten: <span>{{ item.messages }}</span></li>
            <li>Berichten per topic: <span>{{ item.messagesPerTopic }}</span></li>
          </ul>
          <a class="primary-button" href="/categorie/{{catID}}">Bekijken</a>
        </div>
      {% endfor %}

      <ol class="x-axis">
        {% for i in (1..9) %}
          {% assign xAxis = maxX | divided_by: i | floor %}
          <li>{{ xAxis }}</li>
        {% endfor %}
        <li></li>
      </ol>

      <ol class="y-axis">
        {% for i in (1..9) %}
          {% assign yAxis = maxY | divided_by: i | floor %}
          <li>{{ yAxis }}</li>
        {% endfor %}
        <li></li>
      </ol>
    </div>
  </article>
</section>
