<section class="layout user-leaderboard">
  <article class="container">
    <h1>Top 100 gebruikers met {{ rankedBy }}</h1>
    <ol class="top-three">
      {% for user in users limit: 3 %}
        <li>
          <img height="60" width="60" src="https://tweakers.net/identicon/{{user.forum_id}}" alt="">
          <div class="podium">
            <h3><strong>{{forloop.index}}.</strong> {{ user.username }}</h3>
            <p>
              aantal {{ rankedBy }}
              <strong> {{ user.number_of_posts }}</strong>
            </p>
            <p>
              lid sinds <strong>{{ user.member_since }}</strong>
            </p>
            <a class="primary-button" href="/profile/{{ user.username }}"> Details</a>
          </div>
        </li>
      {% endfor %}
    </ol>
    <ol class="leaderboard">
      {% for user in users offset: 3 %}
        <li>
          <a href="/profile/{{ user.username }}">
            <h3><strong>{{forloop.index |  plus: 3}}.</strong> {{ user.username }}</h3>
            <img src="https://tweakers.net/identicon/{{user.forum_id}}" alt="{{user.username}} identicon">

            <p>
              aantal {{ rankedBy }}
              <strong> {{ user.number_of_posts }}</strong>
            </p>
          </a>
        </li>
      {% endfor %}
    </ol>
  </article>
</section>
