{% render 'partials/head.liquid', title: 'Categorie' %}

<section class="layout">
  <h1 class="container">{{ title }}</h1>
</section>

<section class="layout">
  <div class="container stat-blocks two-blocks">
    <article>
      <h2>Topics</h2>
      <p>{{ items.size }}</p>
    </article>
    <article>
      <h2>Berichten</h2>
      <p>{{ totalReplies }}</p>
    </article>
  </div>
</section>

{% render 'partials/piechart.liquid', chartData: peopleCount, names: 'name', values: 'count', limit: 10 %}

<section class="layout">
  <article class="container">
    <table class="container dashboard-table">
      <caption>
        <h2>Meest actieve topics</h2>
      </caption>
      <thead>
        <tr>
          <th><h3>Categorie</h3></th>
          <th>Berichten</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          {% assign catID = item.link | split: '/' %}
          <tr>
            <th>
              <a href="/topic/{{catID[5]}}">{{ item.title }}</a>
            </th>
            <td>{{ item.replies }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </article>
</section>

{% render 'partials/foot.liquid' %}
