{% render 'partials/head.liquid', title: 'Categorie' %}


<section class="layout">
  <h1 class="container">{{ title }}</h1>
</section>

<section class="layout">
  <div class="container stat-blocks two-blocks">
    <article>
      <h2>Topics</h2>
      <p>{{ items.size }}</p>
    </article>
    <article>
      <h2>Berichten</h2>
      <p>{{ totalReplies }}</p>
    </article>

  </div>
</section>

{% comment %} {{ items | json }} {% endcomment %}
<section class="layout">
  <article class="container">
    <ul>
      {% for item in items %}
        {% assign topicID = item.comments | split: '/' %}

        <li>
          <h3>{{ item.title }}</h3>
          <p>{{ item.replies }}</p>
          {{ item.link }}
          <a href="/topic/{{topicID[5]}}">Bekijken</a>
        </li>
      {% endfor %}
    </ul>
  </article>
</section>

{% render 'partials/foot.liquid' %}
