{% render 'partials/head.liquid', title: 'Dashboard' %}

<section class="layout">
  <h1 class="container">Dashboard</h1>
</section>
<details>
  <summary>Debug</summary>
  <pre>{{ items | json: 4 }}</pre>
</details>

<section class="layout">
  <article class="container">
    <h2>Dashboard</h2>
    <ul>
      {% for item in items %}
        {% assign catID = item.link | split: '/' %}
        <li>
          <h3>{{ item.title }}</h3>
          <p>{{item.topics}} topics</p>
          <p>{{item.messages}} messages</p>
          <a href="/categorie/{{catID[5]}}">Bekijk statistieken</a>
        </li>
      {% endfor %}
    </ul>
  </article>
</section>

{{ gameCategories | json }}

{% render 'partials/foot.liquid' %}
