{% render 'partials/head.liquid', title: 'Topic' %}

<details>
  <summary>Debug</summary>
  <pre>{{ items | json: 4 }}</pre>
</details>

{% for people in peopleCount %}
  <p>
    {{ people.name }}
  </p>
  <p>{{ people.count }}</p>
{% endfor %}
{{ peopleCount | json }}

<ul>
  {% for item in items %}
    <li>
      <h3>{{ item.title }}</h3>
      <p>{{ item.description }}</p>
      <a href="/profile/{{item.title}}">bekijk profiel</a>
    </li>
  {% endfor %}
</ul>

{% comment %}
  // Source - https://stackoverflow.com/a/5668029
  // Posted by typeof, modified by community. See post 'Timeline' for change history
  // Retrieved 2026-06-10, License - CC BY-SA 4.0

  const arr = [5, 5, 5, 2, 2, 2, 2, 2, 9, 4];
  const counts = {};

  for (const num of arr) {
    counts[num] = counts[num] ? counts[num] + 1 : 1;
  }

  console.log(counts);
  console.log(counts[5], counts[2], counts[9], counts[4]);
{% endcomment %}

{% render 'partials/foot.liquid' %}
